<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="author" content="abysmli@gmail.com">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/asset/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/asset/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/asset/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/asset/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/asset/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="/asset/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="/asset/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="/asset/css/animations.css" rel="stylesheet">
    <link href="/asset/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/asset/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/asset/plugins/hover/hover-min.css" rel="stylesheet">		
    <link href="/asset/plugins/morphext/morphext.css" rel="stylesheet">
    <link href="/asset/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    
    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/asset/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/asset/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="/asset/css/skins/blue.css" rel="stylesheet">
    
    <!-- Custom css --> 
    <link href="/asset/css/custom.css" rel="stylesheet">
    
    
  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="front-page ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">

          <div class="container">
            <div class="row">
              <div class="col-3 col-sm-6 col-lg-9">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                  <ul class="list-inline hidden-md-down">
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-2"></i> <strong class="pl-1">联系方式:</strong> 400-920-2955（中国）+49-7152-6100381（德国）</li>
                    <li class="list-inline-item"><i class="fa fa-exchange pr-1 pl-2"></i> <strong class="pl-1">欧元汇率:</strong> <i id="exchange"></i></li>
                  </ul>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-9 col-sm-6 col-lg-3">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                  <!-- header top dropdowns start -->
                  <!-- ================ -->
                  <div class="header-top-dropdown text-right">
                    <div class="btn-group">
                      <a id="header-top-drop-1" href="http://usa.99mst.com/" type="button" class="btn btn-default btn-sm"><span class="flag-icon flag-icon-us"></span> 去美国</a>
                    </div>
                    <div class="btn-group">
                      <a id="header-top-drop-2" href="http://jp.99mst.com/" type="button" class="btn btn-default btn-sm"><span class="flag-icon flag-icon-jp"></span> 去日本</a>
                    </div>
                  </div>
                  <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="/"><img id="logo_img" src="/images/logo_c.png" width="250" alt="The Project"></a>
                  </div>
                </div>
                <!-- header-first end -->

              </div>
              <div class="col-lg-8 col-xl-9">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation  animated">
                  <nav class="navbar navbar-toggleable-md navbar-light p-0">
                    
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-brand clearfix hidden-lg-up">
                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="/"><img id="logo-img-mobile" src="/images/logo_c.png" width="250" alt="The Project"></a>
                      </div>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">

                        <!-- mega-menu start -->
                        <li class="nav-item active">
                          <a href="/" class="nav-link">首页</a>
                        </li>
                        <!-- mega-menu end -->
                        <!-- mega-menu start -->
                        <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" id="second-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">转运资费</a>
                          <ul class="dropdown-menu" aria-labelledby="second-dropdown">
                            <% paths.forEach(function(path, index){ %>
                            <li class="dropdown ">
                              <a  class="dropdown-toggle" data-toggle="dropdown" href="#"><%= path %></a>
                              <ul class="dropdown-menu">
                                <% transfers.forEach(function(transfer, index){ %>
                                  <% if(transfer.path == path) { %>
                                  <li ><a href="/transfer?id=<%= transfer._id %>"><%= transfer.title %></a></li>
                                  <% } %>
                                <% }) %>
                              </ul>
                            </li>
                            <% }) %>
                          </ul>
                        </li>
                        <!-- mega-menu end -->
                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">操作指南</a>
                          <ul class="dropdown-menu" aria-labelledby="sixth-dropdown">
                            <% docs.forEach(function(doc, index){ %>
                            <li ><a href="/doc?id=<%= doc._id %>"><%= doc.title %></a></li>
                            <% }) %>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a href="/shoptutorial" class="nav-link">海淘教程</a>
                        </li>

                        <!-- mega-menu start -->
                        <li class="nav-item dropdown active mega-menu mega-menu--wide">
                            <a href="#" class="nav-link dropdown-toggle" id="first-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">购物助手</a>
                            <ul class="dropdown-menu" aria-labelledby="first-dropdown">
                              <li>
                                <div class="row">
                                  <div class="col-md-12">
                                    <h4 class="title"><i class="fa fa-laptop pr-2"></i> 购物助手</h4>
                                    <div class="row">
                                      <div class="col-lg-3">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                          <li class="active"><a href="#"><i class="icon-suitcase pr-2"></i>找货比价</a></li>
                                          <li><a href="/comingsoon"><i class="icon-suitcase pr-2"></i>一键代发商城</a></li>
                                          <li><a href="/comingsoon"><i class="icon-suitcase pr-2"></i>代付专家购</a></li>
                                        </ul>
                                      </div>
                                      <div class="col-lg-9">
                                          <form id="searchProductForm" action="/searchProduct" method="post">
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                              <div class="input-group-addon"><span class="fa fa-search"></span></div>
                                              <input type="text" class="form-control" name="search" id="searchInput" placeholder="输入商品名称或粘贴想要代购的商品地址">
                                              <button type="submit" style="display: none;"></button>
                                            </div>
                                          </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!-- mega-menu end -->


                        <li class="nav-item">
                          <a href="/aboutus" class="nav-link">关于我们</a>
                        </li>
                      </ul>
                      <!-- main-menu end -->
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->

              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth-big-height" class="slider-banner-fullwidth-big-height rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide start -->
                <!-- ================ -->
                <% slides.forEach((slide, index)=>{ %>
                <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="<%= slide.title %>">
                <!-- main image -->
                <img src="<%= slide.img %>" alt="slidebg1" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                  style="background-color: rgba(0, 0, 0, 0.8);"
                  data-x="left"
                  data-y="center"
                  data-start="600"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <h2 class="title"><%= slide.title %></h2>
                  <div class="separator-2 clearfix"></div>
                  <p><%= slide.description %></p>
                </div>
                </li>
                <% }) %>
                <!-- slide end -->
              </ul>
              <div class="tp-static-layers" style="width:100%; height:100%; z-index: 50; overflow:hidden">
                <!-- BEGIN STATIC LAYER -->
                <div class="tp-static-layer tp-caption tp-resizeme custombg" 
                    data-startslide="0" 
                    data-endslide="99"
                    data-frames='[{"delay": 1000, "speed": 1000, "from": "opacity: 0", "to": "opacity: 0.9"}, 
                                  {"delay": "wait", "speed": 1000, "to": "opacity: 0"}]' 
                    data-x="right" 
                    data-y="center" 
                    data-hoffset="0" 
                    data-voffset="0" 
                    data-width="300px"
                    data-height="300px">
                  <div class="loginBox">
                    <form action="http://de.99mst.com/cgi-bin/GInfo.dll?Login" method="post" target="_blank">
                      <input type="hidden" name="w" value="de99mst">
                      <div class="inp_div">
                        <input class="inputC" type="text" id="ac" name="ac" placeholder="用户名">
                      </div>
                      <div class="inp_div">
                        <input class="inputC" type="password" id="pwd" name="pwd" placeholder="密码">
                      </div>
                      <div class="dl_div">
                        <div class="absL">
                          <input type="checkbox" class="ver"> 记住密码
                        </div>
                        <div class="absR">
                          <input type="submit" class="logbtn" value="登 录">
                        </div>
                        <div class="clear"></div>
                      </div>
                    </form>
                    <div class="dl_div">
                      <div class="absL">
                        <a style="color: black" href="http://de.99mst.com/cgi-bin/ginfo.dll?formmemberapply&amp;w=de99mst"><img style="display: inline-block !important;" src="http://usa.99mst.com/templates/default/images/icon_reg.gif" alt="免费注册">免费注册</a>
                      </div>
                      <div class="absR">
                        <a style="color: black" href="http://de.99mst.com/cgi-bin/GInfo.dll?DispInfo&amp;w=de99mst&amp;nid=33"><img style="display: inline-block !important;" src="http://usa.99mst.com/templates/default/images/icon_forget.gif" alt="免费注册">忘记密码</a>
                      </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <!-- END STATIC LAYER -->
              </div>
            <!-- END STATIC LAYERS -->
            </div>
          </div>
          <!-- slider revolution end -->
        </div>
        <!-- slideshow end -->
      </div>
      <!-- banner end -->

      <div id="page-start"></div>
      <!-- section start -->
      <!-- ================ -->
      <section class="section light-gray-bg border-clear clearfix padding-ver-clear">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 padding-bottom-clear pv-30">
              <div class="feature-box-2">
                <span class="icon without-bg"><i class="text-default fa fa-truck"></i></span>
                <div class="body">
                  <% if (services.length !== 0) { %>
                  <h4 class="title"><%= services[0].title %></h4>
                  <p><%= services[0].description %></p>
                  <p><a href="/service?id=<%= services[0]._id %>">查看详情<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 padding-bottom-clear pv-30 default-translucent-bg">
              <div class="feature-box-2">
                <span class="icon without-bg"><i class="fa fa-plane"></i></span>
                <div class="body">
                  <% if (services.length > 1) { %>
                  <h4 class="title"><%= services[1].title %></h4>
                  <p><%= services[1].description %></p>
                  <p><a href="/service?id=<%= services[1]._id %>">查看详情<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section pv-40 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-lg-10 offset-lg-1">
                    <h1 class="title"><strong>运单查询</strong></h1>
                    <p class="large text-center">请输入您的运单号进行包裹追踪</p>
                    <div class="separator"></div>
                    <form class="form-inline margin-clear d-flex justify-content-center">
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button type="button" id="transfer-type" class="btn btn-large btn-secondary dropdown-toggle" style="margin: 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            美速通速运
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="setTrack('MST')">美速通速运</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" onclick="setTrack('DHL')">DHL</a>
                            <a class="dropdown-item" onclick="setTrack('Hermes')">Hermes</a>
                            <a class="dropdown-item" onclick="setTrack('UPS')">UPS</a>
                            <a class="dropdown-item" onclick="setTrack('GLS')">GLS</a>
                            <a class="dropdown-item" onclick="setTrack('DPD')">DPD</a>
                            <a class="dropdown-item" onclick="setTrack('顺丰速运')">顺丰速运</a>
                            <a class="dropdown-item" onclick="setTrack('安能物流')">安能物流</a>
                            <a class="dropdown-item" onclick="setTrack('德邦物流')">德邦物流</a>
                            <a class="dropdown-item" onclick="setTrack('百世快递')">百世快递</a>
                            <a class="dropdown-item" onclick="setTrack('优速快递')">优速快递</a>
                            <a class="dropdown-item" onclick="setTrack('other')">其它</a>
                          </div>
                        </div>
                        <input type="text" class="form-control form-control-lg" id="YQNum" placeholder="运单号" aria-label="Text input with dropdown button">
                      </div>
                      <button type="button" onclick="doTrack()" class="btn btn-lg btn-gray-transparent btn-animated margin-clear ml-3">查询 <i class="fa fa-search"></i></button>
                    </form>
                    <div class="separator"></div>
                    <div id="YQContainer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="pv-40">
        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">
              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title text-center">我们的服务</h1>
              <div class="separator"></div>
              <p class="large text-center">美速通全体成员向我们的客户提供以下服务及活动</p>
              <br>
              <!-- page-title end -->

              <div class="row">
                <% services.forEach(function(service, index){ %>
                <div class="col-md-6">
                  <div class="image-box style-2 mb-20">
                    <div class="overlay-container overlay-visible">
                      <img src=<%- service.img %> alt="">
                      <a href="/service?id=<%= service._id %>" class="overlay-link"><i class="fa fa-link"></i></a>
                      <div class="overlay-bottom">
                        <div class="text">
                          <p class="lead margin-clear mobile-visible"><%= service.title %></p>
                        </div>
                      </div>
                    </div>
                    <div class="body text-center padding-horizontal-clear">
                      <p><%= service.description %></p>
                      <p><a class="btn btn-default" href="/service?id=<%= service._id %>">更多内容</a></p>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- section end -->

            <!-- section start -->
      <!-- ================ -->
      <section class="section light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h2 class="text-center mt-4">买家秀</strong></h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="owl-carousel carousel-autoplay pl-10 pr-10">
          <% shows.forEach((show, index) => { %>
          <div class="listing-item pl-10 pr-10 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src=<%- show.img %> alt="" style="max-height: 300px; width: auto; height: auto; margin: auto">
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title"><%= show.title %></h3>
                  <div class="separator light"></div>
                  <p class="small margin-clear"><%= show.description %></p>
                  <p class="small margin-clear"><%= show.name %> 单号：<%= show.transid %></p>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
      <!-- section end -->
  
      <!-- section start -->
      <!-- ================ -->
      <section class="section parallax">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <h2 class="mt-4">我们的 <strong>合作伙伴</strong></h2></div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="clients-container">
                <div class="clients">
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a href="https://www.etao.com/" target="_blank"><img src="/images/logos/YT.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a href="http://www.maishoudang.com/" target="_blank"><img src="/images/logos/MSD.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a href="http://www.ehtao.net/" target="_blank"><img src="/images/logos/EHG.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                    <a href="http://www.fedex.com/de/" target="_blank"><img src="/images/logos/FedEx.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <a href="http://www.ems.post/operators/germany" target="_blank"><img src="/images/logos/EMS.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                    <a href="https://www.dhl.de/" target="_blank"><img src="/images/logos/DHL.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                    <a href="http://www.sf-express.com/" target="_blank"><img src="/images/logos/SF.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
                    <a href="https://www.tnt.com/" target="_blank"><img src="/images/logos/TNT.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
                    <a href="https://www.usps.com/" target="_blank"><img src="/images/logos/USPS.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a href="http://nyc.aaeexpress.us/" target="_blank"><img src="/images/logos/AAE.png" alt=""></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a href="https://www.ups.com/" target="_blank"><img src="/images/logos/UPS.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <footer>
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-12">
                  <p class="text-center"><span class="logo-font pr-10">MEISUTONG</span> 沪ICP备12040967号 Copyright © 2017 <a target="_blank" href="mailto:mst99com@163.com">Meisutong</a>. All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->

      <div class="quicklink">        
        <div class="quickbox" style="display: block;">
          <ul style="list-style: none;">
            <li><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800008691&amp;aty=0&amp;a=0&amp;curl=www.99mst.de&amp;ty=1" target="_blank" title="在线客服"><i class="quickicona"></i>在线客服</a></li>
            <li class="quickwx usergroup"><i class="quickicone"></i>信息咨询
              <div class="wxcode" style="display: none;">
                <img src="/images/qrcode.jpg" width="100" height="100" alt="客户交流微信群">
              </div>
            </li>               
            <li><a href="http://www.weibo.com/meisutong" target="_blank" title="官方微博"><i class="quickiconb"></i>官方微博</a></li>
            <li class="quickbot" style="display: none;"><i class="quickicond"></i>返回顶部</li>
          </ul>
        </div>
        <div class="quickon">
          <div class="quickclose" style="display: block;"><i class="closeicona"></i></div>
          <div class="quickopen hidden" style="display: none;">
            <div class="quickplus"><i class="closeiconb"></i></div>
            <div class="quickbot" style="display: none;"><i class="closeiconc"></i></div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <% if(notification.display) {%>
      <div class="modal fade" id="notizModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel"><%= notification.title %></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <%- notification.content %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="/asset/js/underscore-min.js"></script>
    <script type="text/javascript" src="/asset/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/asset/plugins/tether.min.js"></script>
    <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="/asset/plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="/asset/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="/asset/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="/asset/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="/asset/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="/asset/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/asset/plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="/asset/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script type="text/javascript" src="/asset/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script type="text/javascript" src="/asset/plugins/jquery.validate.js"></script>
    <!-- Morphext -->
    <script type="text/javascript" src="/asset/plugins/morphext/morphext.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="/asset/plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="/asset/js/template.js"></script>
    <!-- 17 Track Js -->
    <script type="text/javascript" src="//www.17track.net/externalcall.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="/asset/js/custom.js"></script>
    <% if(notification.display) {%>
    <script>
      $(document).ready(()=>{
        $("#notizModal").modal()
      });
    </script>
    <% } %>

  </body>
</html>
