<div class="page-header">
    <h1><%= title %> <small> | 共计 <%= searchs.length %> 个热搜</small></h1>
</div>
<div class="col-md-9">
    <table id="search_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>关键词</th>
                <th>搜索次数</th>
                <th>排列顺序</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>关键词</th>
                <th>搜索次数</th>
                <th>排列顺序</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </tfoot>
        <tbody>
            <% searchs.forEach(function(search, index) { %>
                <tr>
                    <td>
                        <%= search.query %>
                    </td>
                    <td>
                        <%= search.times %>
                    </td>
                    <td>
                        <%= search.sort + 1 %>
                    </td>
                    <td>
                        <%= (new Date(search.updated_at)).toLocaleString("en-US", {timeZone: "Asia/Shanghai"}) %>
                    </td>
                    <td>
                        <% if(search.active) { %>
                            <a type="button" class="btn btn-danger" href="/controller/hotsearch/active?id=<%= search._id %>&state=false">不显示</a>
                        <% } else { %>
                            <a type="button" class="btn btn-primary" href="/controller/hotsearch/active?id=<%= search._id %>&state=true">显示</a>
                        <% } %>
                        <a type="button" class="btn btn-default" href="/controller/hotsearch/remove?id=<%= search._id %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div class="col-md-3">
    <h3>排列次序</h3>
    <ul id="sortable" class="list-group">
        <% searchs.forEach(function(search, index) { %>
            <% if(search.active) { %>
            <li class="list-group-item" id="<%= search._id %>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                <%= search.query %>
            </li>
            <% } %>
        <% }) %>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $("#search_page").addClass("active");
        var dt = $('#search_table').DataTable({
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            stateSave: true,
        });
        $("#sortable").sortable({
            placeholder: "ui-state-highlight",
            update: function (event, ui) {
                var sortedIDs = $("#sortable").sortable("toArray");
                var data = [];
                sortedIDs.forEach(function (sortid, index) {
                    data.push({ id: sortid, sort: index });
                });
                sendAjax('/controller/hotsearch-sort', { data: JSON.stringify(data) }, function (result) {
                    if (result.status == "success") {
                        $.notify({
                            message: '成功更新排列顺序！'
                        }, {
                                type: 'success',
                                placement: {
                                    from: "top",
                                    align: "center"
                                },
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                },
                            });
                    } else {
                        $.notify({
                            message: '更新排列顺序失败！'
                        }, {
                                type: 'danger',
                                placement: {
                                    from: "top",
                                    align: "center"
                                },
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                },
                            });
                    }
                });
            }
        });
        $("#sortable").disableSelection();
    });
</script>