<div class="page-header">
    <h1><%= title %></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" id="service_form">
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" placeholder="标题" name="title" value="<%= service.title || '' %>">
            </div>
            <div class="form-group">
                <label for="description">说明</label>
                <input type="text" class="form-control" id="description" placeholder="说明" name="description" value="<%= service.description || ""%>">
            </div>
            <div class="form-group">
                <label>图片</label>
                <input type="file" id="img" onchange="previewFile('#img', '#img_preview')"/>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a href="#" class="thumbnail" id="img_preview" hidden></a>
                    </div>
                </div>
            </div>
            <br/>
            <h4>内容</h4>
            <div id="summernote_content"><%- service.content || "" %></div>
            <hr/>
            <button type="submit" id="post_button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> 确认</button>
        </form>
        <% if (service.img !== "" && service.img !== undefined) { %>
        <hr/>
        <label>图片</label>
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail">
                    <img src=<%- service.img %> alt="service logo set">
                </a>
            </div>
        </div>
        <% } %>
    </div>
</div>
<hr/>
<script>
    var _img = "";
    $(document).ready(function() {
        $("#service_page").addClass("active");
        $('#service_form').submit(function(event) {
            var data = {
                img: JSON.stringify(_img),
                content: $('#summernote_content').summernote('code')
            };
            post(data, "service_form");
        });
        $('#summernote_content').summernote({
            height: 500,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
        });

    });
</script>